<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
   
     <class name="BaseTest.Test1_VerifyTitlePage"/>
      <class name="BaseTest.Test2_HomePageTest"/>
      <class name="BaseTest.Test3_GroceryPageTest"/>
      <class name="BaseTest.Test4_HeadersPageTest"/>
      <class name="BaseTest.Test5_NavigatorTest"/>
      <class name="BaseTest.Test6_FooterPageTest"/>
      <class name="BaseTest.Test7_ExplorePlusePageTest"/>
     
      
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
